<div style="height: 100%;    ">
  <div class="row justify-content-md-center" style="margin-top: 10%;">
    <div class="col-6">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-6">
              <img style="width:100%" src="../../../assets/images/logo.PNG" alt="CI Logo" />
            </div>
            <div class="col-6" style="margin-top: 5%;">
              <div class="text-center">
                <h5>Competitive Intelligence (CI) App</h5>
                <p>One stop solution for all competitor related updates</p>
                <div style="margin: 6%;">
                  <button routerLink='/login' class="btn btn-success pill-btn">
                    <b>LOGIN</b>
                  </button>
                </div>
                <div style="margin: 6%;">
                  <button routerLink='/register'class="btn btn-success pill-btn">
                    <b>REGISTER</b>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>